services:

  nodo1:
    build: .
    ports:
      - "5001:5000"
    environment:
      - NODE_ID=0
      - BIND_PORT=5000
      - DOCKER_PORT=5001
      - PORTS=5001, 5002, 5003, 5004
      - MODE=0
    volumes:
      - .:/app
      - ./nodo1:/app/nodo1
    image: federated-semidescentralized_image:latest
    command: >
      sh -c "mkdir -p /app/nodo1 && python main.py > /app/nodo1/nodo1.log 2>&1"

  nodo2:
    build: .
    ports:
      - "5002:5000"
    environment:
      - NODE_ID=2
      - BIND_PORT=5000
      - DOCKER_PORT=5002
      - PORTS=5001, 5002, 5003, 5004
      - MODE=0
    volumes:
      - .:/app
      - ./nodo2:/app/nodo2
    image: federated-semidescentralized_image:latest
    command: >
      sh -c "mkdir -p /app/nodo2 && python main.py > /app/nodo2/nodo2.log 2>&1"

  nodo3:
    build: .
    ports:
      - "5003:5000"
    environment:
      - NODE_ID=3
      - BIND_PORT=5000
      - DOCKER_PORT=5003
      - PORTS=5001, 5002, 5003, 5004
      - MODE=0
    volumes:
      - .:/app
      - ./nodo3:/app/nodo3
    image: federated-semidescentralized_image:latest
    command: >
      sh -c "mkdir -p /app/nodo3 && python main.py > /app/nodo3/nodo3.log 2>&1"

  nodo4:
    build: .
    ports:
      - "5004:5000"
    environment:
      - NODE_ID=4
      - BIND_PORT=5000
      - DOCKER_PORT=5004
      - PORTS=5001, 5002, 5003, 5004
      - MODE=0
    volumes:
      - .:/app
      - ./nodo4:/app/nodo4
    image: federated-semidescentralized_image:latest
    command: >
      sh -c "mkdir -p /app/nodo4 && python main.py > /app/nodo4/nodo4.log 2>&1"
